@mixin username {
  font-size: 18px;
}

@mixin usertag {
  font-size: 14px;
}

@mixin followers {
  display: inline-block;
  padding-right: 5px;
}

@mixin following {
  display: inline-block;
  padding-left: 5px;
}

.user {

  padding: 20px 0;

  .user__username {
    @include username();
  }

  .user__usertag {
    @include usertag();
  }

  .user__date {
    display: flex;
    align-items: center;
    margin-left: -5px;
  }

  .user__followers {
    @include followers();
  }

  .user__following {
    @include following();
  }

}