@import "../styles/mixins";

#app {
  
  .app__top {
    @include app_bar("top");

    .app__top__title {
      display: inline-block;

      font-size: 25px;
      font-weight: bold;
      line-height: 50px;
      
      margin-left: 50px;
    }

    .app__top__icon {
      position: absolute;
      left: 0;
      top: 0;
      margin: 9px;

      cursor: pointer;
    }
  }

  .app__content {
    
  }

}