@import "../styles/mixins";

@mixin app_top_icon {
  position: absolute;
  top: 0;
  margin: 9px;
  cursor: pointer;
}

#app {

  .app__top {
    position: fixed;
    height: 50px;
    width: 640px;
    
    background-color: #ffffff;  
    
    top: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);

    z-index: 999;

    @media screen and (max-width: 640px) {
      width: 100%;
    }

    .app__top__title {
      display: inline-block;

      font-size: 25px;
      font-weight: bold;

      line-height: 50px;
      margin-left: 50px;
    }

    .app__top__icon--left {
      @include app_top_icon();

      left: 0;
    }

    .app__top__icon--right {
      @include app_top_icon();

      right: 0;
    }
  }

  .app__content {
    position: relative;
    top: 51px;
    padding: 0 25px;
    height: calc(100vh - 51px);
  }

}