@import "variables";

@mixin hover_bottom() {
  cursor: pointer;

  &:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    margin-bottom: -1px;
  }
}

@mixin border_between() {
  &:nth-child(n) {
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    margin-top: -1px 0;
  }

  &:nth-child(1) {
    border: 0;
    margin: 0;
  }
}

@mixin default_input {
  overflow-wrap: break-word;
  font-size: 16px;
  font-family: $font;

  resize: none;
  outline: 0;
  border: 0;
  padding: 0;
  
  border-bottom: 1px solid #000000;
  border-radius: 0;
  
  padding-bottom: 1px;

  // Remove input shadow on iOS
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@mixin default_button {
  padding: 5px 20px;

  background-color: rgba(0, 0, 0, 1);
  color: #ffffff;

  font-size: 15px;

  border-radius: 10px;
  border: 0;
  
  cursor: pointer;
}

@mixin default_button--text {
  @include hover_bottom();

  cursor: pointer;
}

@mixin authorization_page() {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  :nth-child(n) {
    margin-top: 10px;
  }

  :nth-child(1) {
    margin-top: 20px;
  }

  &.input {
    @include default_input();
  }

  &.button {
    @include default_button();
  }

  &.button--text {
    @include default_button--text();
    font-size: 14px;
  }
}