@mixin hover_bottom() {
  cursor: pointer;

  &:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    margin-bottom: -1px;
  }
}

@mixin border_between() {
  &:nth-child(n) {
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    margin-top: -1px 0;
  }

  &:nth-child(1) {
    border: 0;
    margin: 0;
  }
}