@import "../../styles/mixins";
@import "../common/user/user.scss";

.menu {
  
  position: absolute;
  top: 51px; // 50px(height of top bar) + 1px(border-bottom of top bar)

  width: 640px; // Remove padding 
  height: calc(100vh - 51px); // To make top bar visible at all times

  @media screen and (max-width: 640px) {
    width: 100%;
  }
  
  overflow: hidden;

  .menu__container {
    width: calc(100% - 25px * 2); 
    height: 100%; 
    padding: 0 25px;
    
    background-color: #ffffff;
    z-index: 100;
  }
  
  .menu__section {
    padding: 10px 0;

    @include border_between();
  }

  .menu__item {
    display: flex;
    align-items: center;
    flex-direction: row;

    cursor: pointer;
  }

  .menu__username {
    @include username();
  }

  .menu__usertag {
    @include usertag();
  }

  .menu__followers {
    @include followers();
  }

  .menu__following {
    @include following();
  }

  .menu__icon {
    display: inline-block;
  }

  .menu__search {
    @include default_input();

    flex-grow: 1;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    padding: 2.5px 10px;
  }
}