@import "../../../styles/mixins";

.post {

  padding: 20px 0;

  @include border_between();

  .post__top {

  }

  .post__content {
    margin: 5px 10px;
  }

  .post__bottom {
    display: flex;
    align-items: center;
    
    margin: 0 10px;
  }

  .post__user-info {
    @include hover_bottom();
  }

  .post__username {

  }

  .post__usertag {
    margin: 0 5px;
  }

  .post__date {
    @include hover_bottom();
  }

  .post__count {
    margin-right: 5px;
  }

  .post__icon {
    display: inline-block;
    cursor: pointer;

    &.enabled {
      fill: #000000;
    }
  }
}